<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>빈칸 채워넣기 퀴즈</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.1/build/styles/solarized-dark.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.1/build/highlight.min.js"></script>
        <style>
            .component-gap {
                margin-top: 15px;
            }

            .quiz {
                display: inline-block;
                width: 150px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Quiz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">퀴즈 풀기 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gen">퀴즈 만들기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sub">제출 현황</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-lg">
            <div class="jumbotron component-gap">
                <h1>
                    퀴즈셋 리스트
                </h1>
                <hr>
                <ul id="quizSet">
                    <li>퀴즈1</li>
                    <li>퀴즈2</li>
                </ul>
            </div>
            <div class="col component-gap">
                <div id="render"></div>
            </div>
            <div class="col component-gap">
                <div id="result"></div>
            </div>
        </div>
        <script>
            let quizSet = {};
            let currentQuiz = {};
            let answers = [];

            function loadQuiz() {
                $.ajax({
                    'url': '/quiz-list',
                    'method': 'GET',
                    'data': {},
                    'success': function (response) {
                        if (response['result'] === 'success') {
                            let html = '';
                            let quizList = response['quiz'];
                            for (let i = 0; i < quizList.length; i++) {
                                let quiz = quizList[i];
                                quizSet[quiz['title']] = quiz['script'];
                                html += `<li>
${quiz['title']}
<button class="btn btn-primary" onclick="initQuiz('${quiz['title']}')">
문제 풀어보기
</button></li>`
                            }
                            $('#quizSet').html(html);
                        }
                    }
                })
            }

            function initQuiz(title) {
                answers = [];
                currentQuiz = title;
                let script = quizSet[title];
                let quizForm = `<div class="form-group row">
<label class="col-lg-4" for="name">이름</label>
<div class="col-lg-8">
<input type="text" class="form-control" id="name" /></div>
</div>
${script}
<button class="btn btn-success" onclick="evaluateSubmission('${title}')">제출하기</button>`;
                $('#render').html(quizForm);
                document.querySelectorAll('pre code').forEach(function (block) {
                    hljs.highlightBlock(block);
                })
            }

            function evaluateSubmission(title) {
                let name = $('#name').val();
                if (name === '') {
                    alert('이름을 입력해주세요!');
                    return;
                }

                let givenAnswers = [];
                let answerForms = $('.quiz');
                for (let i = 0; i < answerForms.length; i++) {
                    givenAnswers.push(answerForms[i].value);
                }

                let envelope = {
                    'name': name,
                    'title': title,
                    'answers': givenAnswers
                };

                $.ajax({
                    'url': '/submit',
                    'method': 'POST',
                    'data': envelope,
                    'success': function (response) {
                        if (response['result'] === 'success') {
                            let detail = response['detail'];
                            let html = `<h2>결과: ${detail['score']} / ${detail['fullScore']}</h2>`;
                            // let html = `<h2>결과: ${detail['score']} / ${detail['fullScore']}</h2><h2>정답</h2><ol>`;
                            // let pairs = detail['pairs'];
                            // console.log(pairs);
                            // for(let i=0; i<pairs.length; i++) {
                            //     let ans = pairs[i][1];
                            //     html += `<li>${ans}</li>`;
                            // }
                            // html += '</ol>';
                            $('#result').html(html);
                        }
                    }
                })
            }

            $(document).ready(function () {
                loadQuiz();
            });
        </script>
    </body>
</html>